section.hero
    .body-hero
        img.img-pattern
        .content-body-hero 
            .left-hero-part
                .title-large 
                    | We are 
                    span.dark-green-text awesome team 
                    | for your business dream
                .desc Integrated workflow designed for product teams. We create world-class development and branding
                .container-btns
                    button.btn-new(onmouseenter='changeArrow()' onmouseleave='backArrow()' ) 
                        | Get Started
                        img.img-btn-new(src='../assets/imgs/template/icons/arrowWhite.svg') 
                    span.bnt-new-transparent 
                        | Learn More
                        img(src='../assets/imgs/template/icons/arrowBlack.svg') 
                    
            .right-hero-part
                img.img-girl(src='../../assets/imgs/template/img.png')
    