section.work 
    .body-work
        .info-about-w
            .title Built exclusively for you
            .desc Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
        .cards-services
            .card-service
                .left-card 
                    img(src='../assets/imgs/template/icons/icon_acqu.svg')
                .right-card 
                    .title-card 1. Acquisition
                    .desc-card Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit laborum — semper quis lectus nulla.
            .card-service
                .left-card 
                    img(src='../assets/imgs/template/icons/icon_acti.svg')
                .right-card 
                    .title-card 2. Activation
                    .desc-card Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .card-service
                .left-card 
                    img(src='../assets/imgs/template/icons/icon_rete.svg')
                .right-card 
                    .title-card 3. Retention
                    .desc-card Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
